<!-- begin header -->
<header class="main-header {{header.classList}}">
	{% if header.logo %}
		<div class="main-header__logo">
			<img src="img/logo-white.svg" alt="eHopper">
		</div>
	{% endif %}
	{% if header.box %}
		<div class="main-header__box">
			{% if header.box.logo %}
				<img src="img/logo-white.svg" alt="eHopper">
			{% endif %}
		</div>
	{% endif %}
	{% if header.title %}
		<h2 class="title-xl main-header__title">{{header.title}}</h2>
	{% endif %}
	{% if nav %}
		<button class="main-header__nav-btn" title="Menu" data-menu-open="menu">
			<i></i>
		</button>
	{% endif %}
</header>
<!-- end header -->