<!-- begin langs -->
<div class="langs js-lang" data-scrollbar="default">
	<div class="langs__inner js-lang-track">
		<a href="#" class="langs__item js-lang-item is-active">English</a>
		<a href="#" class="langs__item js-lang-item">Español</a>
		<a href="#" class="langs__item js-lang-item">Русский</a>
		<a href="#" class="langs__item js-lang-item">English</a>
		<a href="#" class="langs__item js-lang-item">Español</a>
		<a href="#" class="langs__item js-lang-item">Русский</a>
	</div>
</div>
<!-- end langs -->
