.container
	position: relative
	padding: 10px 20px
	&_fullscreen
		overflow: auto
		height: 100%

.row
	position: relative
	margin: 0 -10px
	+clr

.col
	position: relative
	float: left
	padding: 10px
	width: 100%
	&_field
		padding-bottom: 15px
	&_wrap
		padding-top: 0
		padding-bottom: 0
	&_xl
		@for $i from 1 through 100
			&-#{$i}
				width: $i + %
	&_lg
		@for $i from 1 through 100
			&-#{$i}
				+xl
					width: $i + %
	&_md
		@for $i from 1 through 100
			&-#{$i}
				+lg
					width: $i + %
	&_sm
		@for $i from 1 through 100
			&-#{$i}
				+md
					width: $i + %
	&_xs
		@for $i from 1 through 100
			&-#{$i}
				+sm
					width: $i + %

//helpers
