.container
	position: relative
	padding: 10px 20px
	&_fullscreen
		overflow: auto
		height: 100%

.row
	position: relative
	margin: 0 -10px
	+clr

.col
	position: relative
	float: left
	padding: 10px
	width: 100%
	&_field
		padding-bottom: 15px
	&_lg
		@for $i from 1 through 100
			&-#{$i}
				width: $i + %
	&_md
		@for $i from 1 through 100
			&-#{$i}
				+media('width', 'lg')
					width: $i + %

//helpers
.pull-lg-left
	float: left
	+media('width', 'lg')
		float: none
.pull-lg-right
	float: right
	+media('width', 'lg')
		float: none