html,
body,
.out,
.main,
.vertical-center
	height: 100%

.out
	position: relative

.main
	position: relative
	&_inner
		padding-top: 50px
	&_lg
		padding-top: 150px
		+media('height', 'sm')
			padding-top: 100px
	&_md
		padding-top: 90px

.vertical-center
	+vertical
	&__container
		display: inline-block
		vertical-align: middle
		width: 100%
		font-size: 16px
		text-align: left
		
.section
	padding: 20px
