html,
body,
.out,
.main,
.vertical-center
	height: 100%

.out
	position: relative
	padding-top: 50px

.vertical-center
	+vertical
	&__container
		display: inline-block
		vertical-align: middle
		width: 100%
		font-size: 16px
		text-align: left