html,
body,
.out,
.main,
.vertical-center,
.fullscreen
	height: 100%

.out
	position: relative

.main
	position: relative
	&_inner
		padding-top: 50px
	&_lg
		padding-top: 150px
		+media('height', 'sm')
			padding-top: 100px
	&_md
		padding-top: 90px

.vertical-center
	+vertical
	&__container
		display: inline-block
		vertical-align: middle
		width: 100%
		font-size: 16px
		text-align: left
		
.section
	padding: 20px

.inner
	margin: 0 auto
	max-width: 720px
	+clr

.l-container,
.l-row,
.l-col
	height: 100%
.l-row
	position: relative
	+clr
.l-col
	position: absolute
	top: 0
	bottom: 0
	overflow: auto
	background: $alabaster
	&_sidebar
		left: 0
		width: 41%
		max-width: 50%
		min-width: 400px
	&_main
		z-index: 10
		right: 0
		width: 59%
		max-width: 100%
		min-width: 50%
	&__inner
		padding-left: 15px
		height: 100%