h1, h2, h3, h4, h5, h6
	+rmed
h1,h2,h3,h4,h5,h6,strong,b,em,i
	font-weight: normal
	font-style: normal
strong,b
	+rbold

.title-xxl
	font-size: 28px

.title-xl
	font-size: 22px

.title-lg
	font-size: 18px

.title-md
	font-size: 16px

.title-sm
	font-size: 15px

.title-xs
	font-size: 14px

a
	color: $blue

.external-link
	i
		font-size: 80%
		margin-left: 0.3em

.meta-info
	font-size: 13px
	p + p
		margin-top: 3px

.label
	color: rgba(51, 51, 51, 0.7)
	font-size: 14px
	line-height: 15px
	&_block
		display: block
		margin-bottom: 12px

.link-add
	display: inline-block
	vertical-align: top
	color: $blue
	font-size: 16px
	line-height: 20px
	text-decoration: none
	transition: color 0.17s ease
	+hover
		color: $blueActive
	&_block
		display: block
	i
		margin-right: 0.3em
		font-size: 120%

//mods
.is-muted
	opacity: 0.5

.color-white
	color: $white
.color-red
	color: $red
.color-green
	color: $green
.color-blue
	color: $blue
.color-gray
	color: #a9a9a9
.color-blue
	color: #d3d3d3

.pull-right
	float: right !important

.pull-left
	float: left !important

.text-uppercase
	text-transform: uppercase

.text-left
	text-align: left !important

.text-right
	text-align: right !important

.text-center
	text-align: center !important
	
.text-center-lg
	+min-media('width', 'lg')
		text-align: center

.text-overflow
	+text-overflow