h1, h2, h3, h4, h5, h6
	+rmed
h1,h2,h3,h4,h5,h6,strong,b,em,i
	font-weight: normal
	font-style: normal
strong,b
	+rbold

.title-xxl
	font-size: 28px

.title-xl
	font-size: 22px

.title-lg
	font-size: 18px

.title-md
	font-size: 16px

.title-sm
	font-size: 15px

.title-xs
	font-size: 14px

a
	color: $blue

.external-link
	i
		font-size: 80%
		margin-left: 0.3em

//mods
.is-muted
	opacity: 0.5

.color-red
	color: $red
.color-green
	color: $green
.color-blue
	color: $blue
.color-gray
	color: #a9a9a9
.color-blue
	color: #d3d3d3
.color-main
	color: $mainColor

.pull-right
	float: right !important

.pull-left
	float: left !important

.text-uppercase
	text-transform: uppercase

.text-left
	text-align: left !important

.text-center
	text-align: center !important

.text-right
	text-align: right !important

.text-overflow
	+text-overflow