@import helpers/all

//btns
.color-btn-main
	color: $white
	background: $mainColor
	+active
		color: $white
		background: $mainColorActive

//header
.color-header
	color: $white
	background: $mainColor
	
//modal
.color-modal-header
	color: $white
	background: $mainColor

//title
.color-title-main
	color: $mainColor
