---
title: Dashboard
mainClassList: 'main_inner'
header: { title: 'Dashboard' }
menu: { active: 0 }
---
{% extends "layouts/_layout.html" %}

{% block content %}
<div class="container dashboard">
	<div class="dashboard__filters">
		<div class="dashboard__filters-calendar">
			<button class="btn btn_lg btn_white btn_border filters__calendar" data-animation="ripple"><i class="fa fa-calendar"></i>Today<i class="fa fa-angle-down"></i></button>
		</div>
		<div class="dashboard__filters-select">
			{{form.multiSelect.call({
				placeholder: 'Select Store(s)',
				selectAll: 'Select All',
				options: [
					'Lorem ipsum. 1',
					'Lorem ipsum. 2',
					'Lorem ipsum. 3',
					'Lorem ipsum. 4'
				]
			})}}
		</div>
	</div>
	<div class="row">
		{% set stats = [
			{ color: 'blue', title: 'Total Transactions', text: '11' },
			{ color: 'orange', title: 'Repeat Customers', text: '1' },
			{ color: 'purple', title: 'Gross Sales', text: '$4,190.53' },
			{ color: 'red', title: 'Refunds', text: '$0.00' },
			{ color: 'green', title: 'New Customers', text: '0' }
		] %}
		{% for item in stats %}
			<div class="col col_lg-20">
				<div class="stat">
					<div class="stat__icon stat__icon_{{item.color}}">
						{{item.icon | safe}}
					</div>
					<div class="stat__content">
						<div class="stat__title">{{item.title | safe}}</div>
						<div class="stat__text">{{item.text | safe}}</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="row">
		<div class="col col_lg-50">
			<div class="box support">
				<div class="box__header color-header support__header">
					<div class="box__title">Support</div>
				</div>
				<div class="box__body support__body">
					<p><strong>Account ID:</strong> <span>0</span></p>
					<p><strong>Web POS URL:</strong> <a href="https://pos.ehopper.com/" target="_blank">https://pos.ehopper.com/</a></p>
					<p><strong>Online Help:</strong> <a href="Zendesk/Login?goto=1" target="_blank">Knowledge Base</a></p>
					<p><strong>Community:</strong> <a href="Zendesk/Login" target="_blank">Community</a></p>
				</div>
				<div class="support__footer">
					<p><span class="color-green">Note:</span> Use the chat below to learn how to upgrade to the Freedom Package with eHopper.</p>
				</div>
			</div>
		</div>
		<div class="col col_lg-50">
			<div class="box news">
				<div class="box__header color-header news__header">
					<div class="box__title">eHopper news and updates</div>
				</div>
				<div class="news__body">
					<iframe src="parts/news.html" frameborder="0" class="news__iframe"></iframe>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
