---
title: Login
noHeader: true
---
{% extends "layouts/_layout.html" %}

{% block content %}
<div class="vertical-center">
	<div class="vertical-center__container">
		<div class="logo">
			<img src="static/img/logo.svg" alt="eHopper">
		</div>
		<div class="form form_sm">
			<h2 class="title-xl form__title">Back Office</h2>
			<div class="form__section">
				{{form.inputBox.call({
					placeholder: 'Email *',
					type: 'email',
					classList: 'is-error',
					inputAttrs: 'required',
					errorMessage: 'Lorem ipsum dolor sit amet, consectetur adipisicing.'
				})}}
			</div>
			<div class="form__section">
				{{form.inputBox.call({
					placeholder: 'Password *',
					type: 'password',
					inputAttrs: 'required'
				})}}
			</div>
			<div class="form__section text-center">
				<button class="btn btn_blue btn_lg form__btn">Login</button>
			</div>
			{% set loginList = [
				'Did not setup your password? Click <a href="#">here</a>',
				'Forgot password? Click <a href="#">here</a>',
				'Not registered? Click <a href="#">signup</a> to create an Account for free.'
			] %}
			<ul class="form__list">
				{% for item in loginList %}
					<li>{{item | safe}}</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endblock %}
