---
title: Login
header: {
	logo: true,
	classList: 'main-header_lg'
}
mainClassList: 'main_lg'
---
{% extends "layouts/_layout.html" %}

{% block content %}
<div class="section">
	<div class="form form_sm">
		<h2 class="title-xxl form__title">Back Office</h2>
		<div class="form__section">
			{{form.inputBox.call({
				placeholder: 'Email *',
				type: 'email',
				classList: 'is-error',
				inputAttrs: 'required',
				errorMessage: 'Lorem ipsum dolor sit amet, consectetur adipisicing.'
			})}}
		</div>
		<div class="form__section">
			{{form.inputBox.call({
				placeholder: 'Password *',
				type: 'password',
				inputAttrs: 'required'
			})}}
		</div>
		<div class="form__section text-center">
			<button class="btn btn_main btn_lg btn_block form__btn" data-animation="ripple">Login</button>
		</div>
		{% set loginList = [
			'Did not setup your password? Click <a href="#">here</a>',
			'Forgot password? Click <a href="#">here</a>',
			'Not registered? Click <a href="#">signup</a> to create an Account for free.'
		] %}
		<ul class="form__list">
			{% for item in loginList %}
				<li>{{item | safe}}</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}
