---
title: Login
header: {
	logo: true,
	classList: 'main-header_lg'
}
mainClassList: 'main_lg'
---
{% extends "layouts/_layout.html" %}

{% block content %}
<div class="section">
	<div class="form form_sm">
		<div class="form__section">
			{{form.inputBox.call({
				placeholder: 'Email',
				type: 'email',
				classList: 'is-error',
				inputAttrs: 'required',
				errorMessage: 'Lorem ipsum dolor sit amet, consectetur adipisicing.'
			})}}
		</div>
		<div class="form__section">
			{{form.inputBox.call({
				placeholder: 'Password',
				type: 'password',
				inputAttrs: 'required'
			})}}
		</div>
		<div class="form__section">
			<button class="btn btn_lg btn_block color-btn-main" data-animation="ripple">Login</button>
		</div>
		<ul class="form__list">
			<li>Did not setup your password? Click <a href="#">here</a></li>
			<li>Forgot password? Click <a href="#">here</a></li>
			<li>Not registered? Click {{mixins.externalLink({ text: 'signup' })}} to create an Account for free.</li>
		</ul>
	</div>
</div>
{% endblock %}
