---
title: Pin Login
noHeader: true
---
{% extends "layouts/_layout.html" %}

{% block content %}
<div class="vertical-center">
	<div class="vertical-center__container">
		<div class="logo">
			<img src="img/logo.svg" alt="eHopper">
		</div>
		<div class="form form_sm">
			<h2 class="title-xl form__title">Back Office</h2>
			<div class="form__display">
				<div class="display">
					<ul class="display__list">
						<li class="display__item is-active"></li>
						<li class="display__item is-active"></li>
						<li class="display__item is-active"></li>
						<li class="display__item"></li>
						<li class="display__item"></li>
						<li class="display__item"></li>
					</ul>
				</div>
			</div>
			<div class="form__section">
				{{keyboard.call()}}
			</div>
		</div>
	</div>
</div>
{% endblock %}
