---
title: Pin Login
header: {
	box: { logo: true },
	classList: 'main-header_md'
}
mainClassList: 'main_md'
---
{% extends "layouts/_layout.html" %}

{% block content %}
<div class="form form_sm">
	<div class="form__help">
		<!-- <p>Please enter your personal PIN code to login to this POS terminal:</p> -->
		<h2 class="title-xxl color-main text-center">Back Office</h2>
	</div>
	<div class="form__display">
		<div class="display">
			<ul class="display__list">
				<li class="display__item is-active"></li>
				<li class="display__item is-active"></li>
				<li class="display__item is-active"></li>
				<li class="display__item"></li>
				<li class="display__item"></li>
				<li class="display__item"></li>
			</ul>
		</div>
	</div>
	<div class="form__keyboard">
		{{keyboard.simple()}}
	</div>
	<!-- <div class="form__text is-muted">
		<p><strong>Attention: after multiple incorrect attempts terminal will be locked</strong></p>
	</div>
	<h2 class="title-xxl form__title">Back Office</h2> -->
</div>
{% endblock %}
