---
title: Reset Password
header: {
	logo: true,
	classList: 'main-header_lg'
}
mainClassList: 'main_lg'
---
{% extends "layouts/_layout.html" %}

{% block content %}
<div class="vertical-center">
	<div class="vertical-center__container">
		<div class="form form_sm">
			<h2 class="title-xxl form__title">Reset Password</h2>
			<div class="form__section">
				{{form.inputBox.call({
					placeholder: 'Email *',
					type: 'email',
					inputAttrs: 'required'
				})}}
			</div>
			<div class="form__section text-center">
				<button class="btn btn_blue btn_lg form__btn" data-animation="ripple">Reset</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}
