---
title: Reset Password
header: {
	logo: true,
	classList: 'main-header_lg'
}
mainClassList: 'main_lg'
---
{% extends "layouts/_layout.html" %}

{% block content %}
<div class="section">
	<div class="form form_sm">
		<h2 class="title-xxl color-main form__title">Reset Password</h2>
		<div class="form__section">
			{{form.inputBox.call({
				placeholder: 'Email *',
				type: 'email',
				inputAttrs: 'required',
				classList: 'is-error',
				errorMessage: 'Lorem ipsum dolor sit amet, consectetur.'
			})}}
		</div>
		<div class="form__section text-center">
			<button class="btn btn_main btn_lg btn_block form__btn" data-animation="ripple" data-modal-open="reset-password">Reset</button>
		</div>
	</div>
</div>
{{modal.call({
	name: 'reset-password',
	classList: 'modal_xs',
	file: '_reset-password'
})}}
{% endblock %}
