{% import "partials/form/_inputBox.html" as inputBox %}
{% import "partials/form/_textareaBox.html" as textareaBox %}
{% import "partials/form/_selectBox.html" as selectBox %}
{% import "partials/form/_fileBox.html" as fileBox %}
{% import "partials/form/_search.html" as search %}
{% import "partials/form/_date.html" as date %}
{% import "partials/form/_checkbox.html" as checkbox %}
{% import "partials/form/_select.html" as select %}
{% import "partials/form/_multiSelect.html" as multiSelect %}
{% import "partials/form/_selectColor.html" as selectColor %}

{% set inputBox = inputBox %}
{% set textareaBox = textareaBox %}
{% set selectBox = selectBox %}
{% set fileBox = fileBox %}
{% set search = search %}
{% set date = date %}
{% set checkbox = checkbox %}
{% set select = select %}
{% set multiSelect = multiSelect %}
{% set selectColor = selectColor %}