.products
	&.is-open
		z-index: 105
		.products-overlay
			opacity: 1
			visibility: visible

.products-sidebar
	position: relative
	padding-top: 140px
	height: 100%
	background: $alabaster
	&_simple
		padding-top: 80px
		+md
			padding-top: 41px
	&__header
		position: absolute
		top: 0
		left: 0
		right: 0
	&__search
		padding: 20px
		+md
			padding: 1px 0 0

.products-main
	position: relative
	overflow: hidden
	padding-top: 50px
	height: 100%
	background: $alabaster
	&__header
		position: absolute
		top: 0
		left: 0
		right: 0
		height: 50px
	&__title
		padding-top: 13px
		padding-bottom: 13px
		margin: 0
		font-size: 20px
		line-height: 1.2
		text-align: center
	&__body
		padding: 20px

.products-overlay
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 100
	opacity: 0
	visibility: hidden
	background: rgba(#434c55, 0.8)
	transition: opacity 0.175s ease-in-out, visibility 0.175s ease-in-out

.products-actions
	font-size: 0
	text-align: right
	&__item
		display: inline-block
		vertical-align: top
		width: 50px
		color: $white
		background: none
		transition: background 0.175s ease-in-out, color 0.175s ease-in-out
		+hover
			color: $white
			background: rgba($black, 0.1)
		+active
			color: $white
			background: rgba($black, 0.1)
		.fa
			width: 50px
			height: 50px
			font-size: 24px
			line-height: 50px
			text-align: center

.products-display
	padding-top: 70px
	text-align: center
	+lg
		padding-top: 0
		text-align: left

.products-type
	position: relative
	padding: 30px 0
	border: 1px solid $lightGray
	color: #777
	background: #fcfcfc
	+rlight
	font-size: 14px
	text-align: center
	+clr
	&__box
		float: left
		padding: 20px
		width: 50%
	&__splitter
		position: absolute
		top: 50px
		left: 50%
		bottom: 50px
		overflow: hidden
		margin-left: -20px
		width: 40px
		text-transform: uppercase
		+vertical
		span
			position: relative
			display: inline-block
			vertical-align: middle
			padding: 10px 0
			width: 100%
			font-size: 14px
			line-height: 20px
			&:before,
			&:after
				content: ''
				position: absolute
				left: 50%
				border-left: 1px solid $lightGray
				height: 200px
			&:before
				bottom: 100%
			&:after
				top: 100%
	&__icon
		margin: 0 auto 10px
		width: 70px
		height: 70px
		background-repeat: no-repeat
		background-position: center center
		background-size: cover
	&__title
		margin-bottom: 10px
		+rbold
		font-size: 18px
	&__meta
		margin-bottom: 10px
	&__btn
		width: 140px