.products
	&.is-open
		z-index: 105
		.products-overlay
			opacity: 1
			visibility: visible

.products-sidebar
	position: relative
	padding-top: 140px
	height: 100%
	background: $alabaster
	&_simple
		padding-top: 80px
		+md
			padding-top: 41px
	&__header
		position: absolute
		top: 0
		left: 0
		right: 0
	&__search
		padding: 20px
		+md
			padding: 1px 0 0

.products-main
	position: relative
	overflow: hidden
	padding-top: 50px
	height: 100%
	background: $alabaster
	&__header
		position: absolute
		top: 0
		left: 0
		right: 0
		height: 50px
	&__title
		padding-top: 13px
		padding-bottom: 13px
		margin: 0
		font-size: 20px
		line-height: 1.2
		text-align: center

.products-overlay
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 100
	opacity: 0
	visibility: hidden
	background: rgba(#434c55, 0.8)
	transition: opacity 0.175s ease-in-out, visibility 0.175s ease-in-out

// .products-actions-btn
// 	float: right
// 	min-width: 50px
// 	height: 50px
// 	color: $white
// 	background: none
// 	font-size: 28px
// 	line-height: 50px
// 	transition: background 0.15s ease-in-out
// 	+active
// 		background: rgba($black, 0.1)

.products-actions
	// position: absolute
	// z-index: 102
	// top: 0
	// right: 0
	// width: 300px
	// opacity: 0
	// visibility: hidden
	// background: #434c55
	// box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2)
	// transform: translate3d(0,-100%,0)
	// transition: opacity 0.27s ease-in-out, visibility 0.27s ease-in-out, transform 0.27s ease-in-out
	font-size: 0
	text-align: right
	// &.is-open
	// 	opacity: 1
	// 	visibility: visible
	// 	+gpu
	&__item
		display: inline-block
		vertical-align: top
		// display: block
		// padding: 5px 20px
		// border-bottom: 1px solid #4C5560
		// width: 100%
		// color: #7D838B
		width: 50px
		color: $white
		background: none
		// font-size: 16px
		// line-height: 40px
		// text-align: right
		transition: background 0.175s ease-in-out, color 0.175s ease-in-out
		+hover
			color: $white
			background: rgba($black, 0.1)
			// background: #4C5560
		+active
			color: $white
			background: rgba($black, 0.1)
			// background: #4C5560
		.fa
			// position: absolute
			// top: 0
			// left: 0
			width: 50px
			height: 50px
			font-size: 24px
			line-height: 50px
			text-align: center

.products-display
	padding-top: 70px
	text-align: center
	+lg
		padding-top: 0
		text-align: left
