<!-- begin header -->
<header class="main-header color-header {{header.classList}}">
	{% if header.logo %}
		<div class="main-header__logo">
			<img src="img/logo-white.svg" alt="eHopper">
		</div>
		<h2 class="title-xxl color-white main-header__description">Back Office</h2>
	{% endif %}
	{% if header.box %}
		<div class="main-header__box">
			{% if header.box.logo %}
				<img src="img/logo-white.svg" alt="eHopper">
			{% endif %}
			<h2 class="title-xxl color-white main-header__description">Back Office</h2>
		</div>
	{% endif %}
	{% if header.title %}
		<h2 class="title-xl main-header__title">{{header.title}}</h2>
	{% endif %}
	{% if header.menu %}
		<button class="main-header__nav-btn" title="Menu" data-menu-open="menu">
			<i></i>
		</button>
	{% endif %}
	{% if header.back %}
		<button class="main-header__back">
			<i class="fa fa-arrow-left"></i>
			<span>Back</span>
		</button>
	{% endif %}
	{% if header.help %}
		<button class="main-header__help" {{header.helpAttr | safe}}>
			<i class="fa fa-question-circle-o"></i>
		</button>
	{% endif %}
	{% if header.search %}
		<!-- begin main-search -->
		<div class="main-search">
			<i class="fa fa-search main-search__icon"></i>
			<input type="text" class="main-search__input" placeholder="{{header.search}}">
			<span class="main-search__line"></span>
		</div>
		<!-- end main-search -->
	{% endif %}
</header>
<!-- end header -->