<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>eHopper news and updates</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="theme-color" content="#fff">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" media="all" href="../css/app.css">
	<link rel="stylesheet" media="all" href="../css/color-theme.css">
</head>
<body style="min-width: 100%; background: none;" data-scrollbar="default">
	<ul style="padding: 20px;">
		{% for item in range(0,5) %}
			<li style="padding: 5px 0;">
				<strong>The Steps Covered In This Blogging Guide</strong> 
				<p>It’s nowhere near as difficult as setting up a website from scratch (there’s very little technical ability <a href="#">Read more...</a></p>
			</li>
		{% endfor %}
	</ul>
</body>
</html>