{% import "partials/form/_build.html" as form %}

{% macro call(props) %}
<!-- begin filters -->
<div class="filters {{props.classList}}">
	<div class="filters__container">
		<div class="filters__row">
			{% for col in props.cols %}
				<div class="filters__col {{col.classList}}">
					{% for field in col.fields %}
						<div class="filters__field {{field.classList}}">
							{% if field.mixin %}
								{{form[field.mixin].call(field.options)}}
							{% endif %}

							{# {% if field.search %}
								{{form.search.call(field.search)}}
							{% elif field.select %}
								{{form.selectBox.call(field.select)}}
							{% endif %} #}
						</div>
					{% endfor %}
				</div>
			{% endfor %}
		</div>
		{% if props.btns %}
			<div class="filters__btns">
				{% for item in props.btns %}
					<div class="filters__field">
						{% if item.date %}
							{{form.date.call(item.date)}}
						{% else %}
							{{item.content | safe}}
						{% endif %}
					</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>
</div>
<!-- end filters -->
{% endmacro %}