{% import "partials/form/_build.html" as form %}

{% macro call(props) %}
<!-- begin table -->
<div class="table-wrapper {{props.classList}}" data-table="{{props.name}}">
	<div class="table-wrapper__header" data-table-fake="{{props.name}}">
		<div class="table-header {{props.headerClassList}}">
			<ul class="table-header__tr">
				{% for th in props.header %}
					{% if th.checkbox %}
						<li class="table-header__th {{th.classList}}" data-column="{{props.columns[loop.index0]}}">
							{{form.checkbox.call(th.options)}}
						</li>
					{% else %}
						<li class="table-header__th {{th.classList}}" data-column="{{props.columns[loop.index0]}}">{{th.content | safe}}</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="table-wrapper__body" data-scrollbar="default" data-table-scrollable="{{props.name}}">
		<div class="table-body {{props.bodyClassList}} table-wrapper__table" data-table-main="{{props.name}}">
			{% for item in range(0, props.range or 1) %}
				{% for tr in props.body %}
					<div class="table-body__tr">
						{% for td in tr %}
							<div class="table-body__td {{td.classList}}" data-column="{{props.columns[loop.index0]}}" data-title="{{props.header[loop.index0].content}}">
								{{td.content | safe}}

								{% if td.checkbox %}
									{{form.checkbox.call(td.options)}}
								{% endif %}

								{% if td.input %}
									<input type="{{td.input.type or 'text'}}" class="simple-input {{td.input.classList}}" {{td.input.attrs | safe}}>
								{% endif %}
							</div>
						{% endfor %}
					</div>
				{% endfor %}
			{% endfor %}
		</div>
	</div>
</div>
<!-- end table -->
{% endmacro %}