.modal-content
	border-radius: 5px
	background: $white
	box-shadow: 0 0 5px 1px rgba($black, 0.4)
	&__header
		// padding: 30px 20px
		padding: 10px 20px
		border-radius: 5px 5px 0 0 
		color: $white
		background: $mainColor
	&__body
		padding: 20px
	&__footer
		padding: 20px
		border-top: 1px solid $mainColor
		+clr
	&__success
		float: right
		min-width: 100px
