.modal
	position: fixed
	z-index: 9999
	top: 0
	left: 0
	right: 0
	bottom: 0
	opacity: 0
	visibility: hidden
	background: rgba($black, 0.4)
	+vertical
	transition: opacity 0.175s ease-in-out, visibility 0.175s ease-in-out
	&.is-open
		opacity: 1
		visibility: visible
		.modal__container
			transform: translate3d(0,0,0)
		
	//mods
	&_xs
		.modal__container
			max-width: 300px
	&_lg
		.modal__container
			max-width: 70%
	&_fullscreen
		.modal__container
			padding: 20px
			height: 100%
	&_help
		&.is-open
			.modal__container
				+gpu
		.modal__container
			position: absolute
			top: 0
			right: 0
			bottom: 0
			padding: 0
			width: 300px
			transform: translate3d(100%,0,0)
		.modal-content
			&_help
				padding-top: 50px
				border-radius: unset
				height: 100%
			&__header
				position: absolute
				top: 0
				left: 0
				right: 0
				border-radius: unset

	//components
	&__overlay
		position: fixed
		z-index: 1
		top: 0
		left: 0
		right: 0
		bottom: 0
		width: 100%
		height: 100%
		background: rgba($black, 0.4)
	&__container
		position: relative
		z-index: 2
		display: inline-block
		vertical-align: middle
		width: 100%
		font-size: 14px
		transform: translate3d(0,-300px,0)
		transition: transform 0.27s ease-in-out