.filter-group
	position: relative
	padding-right: 80px
	.filter-group__btn
		position: absolute
		top: 0
		right: 0
		width: 60px
		i
			display: inline-block
			vertical-align: top
			margin: 0
			font-size: 32px
			line-height: 60px 