.m-box
	padding: 10px 0
	+hover
		background: lighten($mainColor, 51%)
	&__row
		position: relative
		padding-left: 50px
		padding-right: 60px
		font-size: 0
	&__col
		display: inline-block
		vertical-align: middle
		padding: 0 10px
	&__close
		position: absolute
		top: 0
		right: 2px
	&__name
		width: 45%
	&__price
		width: 35%
	&__radio
		display: none
		padding-top: 15px
		padding-bottom: 15px
		width: 20%
		+md
			padding: 0
			// width: 100%
			text-align: center
		&.is-open
			display: inline-block
		&-btn 
			text-align: center
			.radio
				&__icon
					position: relative
					display: inline-block
					vertical-align: top
				&__content
					display: block
					padding: 6px 0 0
	// &__name,
	// &__price 
	// 	+md
	// 		// width: 50%
	&__icon
		position: absolute
		top: 0
		left: 20px
		bottom: 0
		color: darken($lightGray, 10%)
		font-size: 24px
		line-height: 60px
		cursor: move