.stat
	position: relative
	overflow: hidden
	padding-left: 60px
	border: 1px solid #e0e0e0
	// border-radius: 4px
	min-width: 150px
	height: 100px
	background: $white
	white-space: nowrap
	+nosel
	&__icon
		position: absolute
		top: 0
		left: 0
		bottom: 0
		width: 60px
		+vertical
		&_blue
			background: #49a1ae
		&_orange
			background: #eca535
		&_purple
			background: #8b62af
		&_red
			background: #b42832
		&_green
			background: #2da782
		i
			display: inline-block
			vertical-align: middle
	&__content
		padding: 25px 0 0 20px
	&__title
		margin-bottom: 5px
		font-size: 14px
		+text-overflow
	&__text
		+rreg
		font-size: 22px