.support
	height: 357px
	&__body
		padding: 20px 20px 25px
		p
			padding: 5px 0
			font-size: 16px
	&__footer
		overflow: auto
		padding: 20px 
		border-top: 1px solid #e0e0e0
		height: 150px
		p 
			font-size: 16px
			line-height: 26px