.fake-buttons
	&__row
		margin: -10px
		font-size: 0
		+clr
	.fake-button
		margin: 10px
	&_connected
		.fake-buttons
			&__row
				+lg
					margin: 0
			&__col
				padding: 10px 0 
		.fake-button
			+lg
				margin: 0 -1px 0 0
	&__col
		float: left
		padding: 10px
		width: 33.3%
		.fake-button
			margin: 0

.fake-button
	position: relative
	display: inline-block
	vertical-align: top
	font-size: 0
	cursor: pointer
	user-select: none
	&_lg
		.fake-button
			&__face
				line-height: 60px
	&_wide
		display: block
		.fake-button__face
			display: block
			padding: 0
	input
		position: absolute
		top: 0
		left: 0
		opacity: 0
		visibility: hidden
		&:checked + .fake-button__face
			color: $white
			background: $mainColor
	&__face
		display: inline-block
		vertical-align: top
		padding: 0 20px
		border: 1px solid $mainColor
		color: $mainColor
		background: none

		+rlight
		font-size: 16px
		line-height: 40px
		text-align: center
		text-decoration: none
		white-space: nowrap
		transition: background 0.175s ease, color 0.175s ease, border-color 0.175s ease
		+lg
			padding: 0 13px
			font-size: 14px
	&__description
		display: block
		padding-top: 5px
		font-size: 14px
		text-align: center
		+lg
			font-size: 12px