.form
	margin: 0 auto

	//mods
	&_sm
		max-width: 460px
	&_md
		max-width: 800px

	//components
	&__section
		margin-bottom: 25px
	&__display
		padding: 0 0 5px
	&__link
		display: inline-block
		vertical-align: top
		padding: 9px 0 7px
		color: inherit
		font-size: 14px
		line-height: 1
		+hover
			text-decoration: none
	&__title
		margin-bottom: 10px
		color: $blue
		text-align: center
	&__list
		margin: -7px 0
		li
			padding: 7px 0
	&__btn
		min-width: 140px