.input-box
	position: relative
	&.is-error
		input
			border-color: $red
	&.is-active
		.input-box__placeholder
			transform: translate3d(0,10px,0) scale(0.73)
	&:not(.is-disabled)
		+hover
			.input-box__clear
				opacity: 1
				visibility: visible
	input:not(:disabled):focus + .input-box__clear
		opacity: 1
		visibility: visible
	&__clear
		position: absolute
		z-index: 1
		// top: 50%
		// right: 15px

		top: 0
		right: 0
		bottom: 0
		width: 60px

		// width: 40px
		// height: 40px
		// border-radius: 50%

		opacity: 0
		visibility: hidden
		color: $darkGray
		// background: $lightGray
		background: none
		
		// transform: translate3d(0,-50%,0)
		// transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, color 0.175s ease-in-out, background 0.175s ease-in-out
		transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out
		+active
			color: $darkGray
			// background: $lightGrayActive
		i
			font-size: 18px
		~ .input-box__field
			.input-box__input
				padding-right: 60px
	&__field
		position: relative
		display: block
		cursor: text
	&__input
		padding-top: 15px
		// padding-right: 60px
	&__error-message
		position: absolute
		top: 100%
		left: 0
		right: 0
		+text-overflow
	&__placeholder
		position: absolute
		top: 0
		left: 15px
		right: 15px
		color: rgba($darkGray, 0.7)
		+rreg
		font-size: 18px
		line-height: 20px
		+text-overflow
		transform: translate3d(0,20px,0)
		transform-origin: top left
		transition: transform 0.15s ease-in-out
		+nosel
		pointer-events: none