{% import "partials/form/_build.html" as form %}
{% import "partials/mixins/_table.html" as table %}

<div class="ordering">
	<div class="ordering__header">
		<div class="container">
			<div class="row">
				<div class="col col_lg-50 col_md-50">
					{{form.multiSelect.call({
						classList: 'select_full is-active',
						placeholder: 'Select Store(s)',
						selectedAll: 'checked',
						selectAll: 'Select All',
						options: [
							'Store 1',
							'Store 2',
							'Store 3',
							'Store 5',
							'Store 6',
							'Store 7',
							'Store 8',
							'Store 9',
							'Store 10',
							'Store 11'
						]
					})}}
				</div>
				<div class="col col_lg-50 col_md-50">
					{{form.inputBox.call({
						classList: 'is-active is-disabled',
						placeholder: 'Total Quantity',
						inputAttrs: 'value="0" disabled'
					})}}
				</div>
				<div class="col col_lg-50 col_md-50">
					{{form.inputBox.call({
						classList: 'is-active',
						placeholder: 'Recommended Quantity',
						inputAttrs: 'value="0"'
					})}}
				</div>
				<div class="col col_lg-50 col_md-50">
					{{form.inputBox.call({
						classList: 'is-active',
						placeholder: 'Minimum Quantity',
						inputAttrs: 'value="0"'
					})}}
				</div>
			</div>
		</div>
	</div>
	<div class="ordering__body">
		{{table.call({
			name: 'products',
			classList: 'table-wrapper_auto-height',
			bodyTDClassList: 'text-overflow',
			range: 5,
			columns: [ 'ordering-name', 'ordering-default', 'ordering-default', 'ordering-default' ],
			header: [ 
				{ content: 'Store' }, 
				{ content: 'Recommended Quantity' }, 
				{ content: 'Minimum Quantity' }, 
				{ content: 'Quantity' }
			],
			body: [
				[ 
					{ content: 'New CSP Store' },
					{ input: { classList: 'simple-input_sm text-center' } },
					{ input: { classList: 'simple-input_sm text-center' } },
					{ input: { attrs: 'disabled', classList: 'simple-input_sm text-center' } }
				],
				[ 
					{ content: 'New Store' },
					{ input: { classList: 'simple-input_sm text-center' } },
					{ input: { classList: 'simple-input_sm text-center' } },
					{ input: { attrs: 'disabled', classList: 'simple-input_sm text-center' } }
				],
				[ 
					{ content: 'Vlad store' },
					{ input: { classList: 'simple-input_sm text-center' } },
					{ input: { classList: 'simple-input_sm text-center' } },
					{ input: { attrs: 'disabled', classList: 'simple-input_sm text-center' } }
				],
				[ 
					{ content: 'West Street Cafe' },
					{ input: { classList: 'simple-input_sm text-center' } },
					{ input: { classList: 'simple-input_sm text-center' } },
					{ input: { attrs: 'disabled', classList: 'simple-input_sm text-center' } }
				],
				[ 
					{ content: 'WestGuestCafe' },
					{ input: { classList: 'simple-input_sm text-center' } },
					{ input: { classList: 'simple-input_sm text-center' } },
					{ input: { attrs: 'disabled', classList: 'simple-input_sm text-center' } }
				]
			]
		})}}
	</div>
</div>