@font-face {
  font-family: "iconfont";
  src: url('fonts/iconfont.eot');
  src: url('fonts/iconfont.eot?#iefix') format('eot'),
    url('fonts/iconfont.woff2') format('woff2'),
    url('fonts/iconfont.woff') format('woff'),
    url('fonts/iconfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$icon-backspace: "\EA01";
$icon-cloud-plus: "\EA02";
$icon-exit: "\EA03";
$icon-facebook: "\EA04";
$icon-notes: "\EA05";
$icon-orders: "\EA06";


%icon {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  @extend %icon;
  display: inline-block;
}

.icon-backspace:before { content: $icon-backspace; }
.icon-cloud-plus:before { content: $icon-cloud-plus; }
.icon-exit:before { content: $icon-exit; }
.icon-facebook:before { content: $icon-facebook; }
.icon-notes:before { content: $icon-notes; }
.icon-orders:before { content: $icon-orders; }
